<%= link_to("New Event", new_group_event_path(@group)) %>
|
<%= link_to("Back", groups_path) %>

<% @events.each do |event| %>
	<h3><%= link_to(event.title, group_event_path(@group, event)) %></h3>
	<% if event.pubmat.exists? %>
		<%= image_tag event.pubmat.url(:thumb) %>
	<% end %>
	<h4><%= event.venue %></h4>
	<h4><%= event.time.strftime("Starts %b %e, %l:%M %p") %></h4>
	<br>
<% end %>

